version: "3.9"
services:
  server:
    build:
      context: .
      dockerfile: docker/dev.dockerfile
      args:
        - PORT=4000
    ports:
      - 4000:4000
    working_dir: /app
    volumes:
      - ./:/app
